.btn {
	--btn-color       : var(--white);
	--btn-bg-color    : var(--purple);
	--btn-border-color: var(--purple);
	// ________________________________________________________
	cursor          : pointer;
	display         : inline-block;
	text-align      : center;
	padding         : .8125em 1.5em;
	color           : var(--btn-color);
	outline         : none;
	background-color: var(--btn-bg-color);
	border          : 2px solid var(--btn-border-color);
	border-radius   : 4px;
	text-transform  : uppercase;
	font            : var(--button-font);
	letter-spacing  : var(--button-letter-spacing);
	margin-bottom   : 1rem;

	&.btn-secondary {
		--btn-color   : var(--purple);
		--btn-bg-color: transparent;
	}

	&.is-green {
		--btn-color       : var(--white);
		--btn-bg-color    : var(--green);
		--btn-border-color: var(--green);
	}

	&.btn-secondary.is-green {
		--btn-color   : var(--green);
		--btn-bg-color: transparent;
	}
}

.btn-icon {
	cursor          : pointer;
	display         : flex;
	justify-content : center;
	align-items     : center;
	width           : 44px;
	height          : 44px;
	background-color: var(--white);
	border          : 2px solid var(--purple);
	border-radius   : 4px;
}