.section-title {
	display: inline-block;
	padding: .25em .5em;
	background-color: var(--purple);
	color: var(--white);
	font: var(--h5-font);
	text-align: center;
	box-shadow: -4px 4px 0px var(--white);
}