:root {
	--purple        : #310A90;
	--violet        : #6F34FE;
	--green         : #42E2B8;
	--red           : #DA1414;
	--white         : #FFF;
	--radial-body-bg: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}